<div class="sup-section">
    <h1>Mis diagramas</h1>
    <button>Crear</button>
</div>

<div class="cards-container">
    <div class="card-diagram">
        <div class="card__sup">
            <h2>Titulo</h2>
            <h2>1</h2>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo cumque ipsum deleniti, laboriosam molestiae officia odio consectetur quasi asperiores, itaque suscipit ullam minima, quis impedit. Sunt cupiditate ullam velit non.</p>

    </div>

</div>